﻿@model LoginViewModel

@{
    ViewData["Title"] = "Env";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Main">Main</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ActiveEnvirnment.Name</li>

    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a href="/Home/Dataload/@Model.ActiveEnvirnment.Name" class="btn btn-primary">Data Load</a>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a href="/Home/SQL/@Model.ActiveEnvirnment.Name" class="btn btn-primary">SQL View</a>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a href="#" class="btn btn-primary">Release History</a>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a href="#" class="btn btn-primary">Health</a>
            </div>
        </div>

    </div>

</div>

<div class="container">
    <div class="m-1 p-1"></div>
    @if (@Model.ActiveEnvirnment.GWMachines != null)
    {


        @if (Model.ActiveEnvirnment.IsClusterd)
        {
            <div class="m-1 p-1"></div>
            <div class="row">
                @foreach (var machine in @Model.ActiveEnvirnment.GWMachines)
                {
                    if (@machine.isBatch)
                    {
                        <div class="col">
                            <div class="card text-center" style="width: 12rem;">
                                <div class="card-body">

                                    <button type="button" onclick="aboutclick('  @machine.Name ')" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalLong">
                                        <img src="~/Server.png" />
                                    </button>


                                    <p class="card-text">@machine.Name</p>

                                    <p class="card-text">@machine.Description</p>
                                    <p class="card-text">@machine.IPAddress</p>

                                    <a href='javascript:;' onclick='linkclick(" @machine.PublicUrl ");' class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Public</a>
                                    <a href='javascript:;' onclick='linkclick(" @machine.Privateurl");' class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Private</a>

                                    <p class="card-text">DB: @machine.DatabaseServer</p>
                                    <p class="card-text">Build On: @machine.BulildDate</p>
                                    <p class="card-text">Depl On: @machine.DeploydDate</p>


                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Build/@machine.IPAddress">B</a>
                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Deploy/@machine.IPAddress">D</a>
                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Restart/@machine.IPAddress">R</a>
                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Log/@machine.IPAddress">L</a>

                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="m-1 p-1"></div>
            <div class="row">
                @foreach (var machine in @Model.ActiveEnvirnment.GWMachines)
                {
                    if (!@machine.isBatch)
                    {
                        <div class="col">
                            <div class="card text-center" style="width: 12rem;">
                                <div class="card-body">

                                    <button type="button" onclick="aboutclick('  @machine.Name ')" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalLong">
                                        <img src="~/Server.png" />
                                    </button>
                                    <p class="card-text">@machine.Name</p>

                                    <p class="card-text">@machine.Description</p>
                                    <p class="card-text">@machine.IPAddress</p>
                                    <a href='javascript:;' onclick='linkclick(" @machine.PublicUrl ");' class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Public</a>

                                    <a href='javascript:;' onclick='linkclick(" @machine.Privateurl");' class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Private</a>

                                    <p class="card-text">DB: @machine.DatabaseServer</p>
                                    <p class="card-text">Build On: @machine.BulildDate</p>
                                    <p class="card-text">Depl On: @machine.DeploydDate</p>

                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Build/@machine.IPAddress">B</a>
                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Deploy/@machine.IPAddress">D</a>
                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Restart/@machine.IPAddress">R</a>
                                    <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Log/@machine.IPAddress">L</a>

                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

        }
        else
        {
            <div class="m-1 p-1"></div>
            <div class="row">
                @foreach (var machine in @Model.ActiveEnvirnment.GWMachines)
                {
                    <div class="col">
                        <div class="card text-center " style="width: 12rem;">
                            <div class="card-body">
                                <button type="button" onclick="aboutclick('  @machine.Name ')" class="btn btn-outline-info">
                                    <img src="~/Server.png" />
                                </button>

                                <p class="card-text">@machine.Name</p>

                                <p class="card-text">@machine.Description</p>
                                <p class="card-text">@machine.IPAddress</p>

                                <a href='javascript:;' onclick='linkclick(" @machine.PublicUrl ");' class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Public</a>

                                <a href='javascript:;' onclick='linkclick(" @machine.Privateurl");' class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Private</a>
                                

                                <p class="card-text">DB: @machine.DatabaseServer</p>
                                <p class="card-text">Build On: @machine.BulildDate</p>
                                <p class="card-text">Depl On: @machine.DeploydDate</p>

                                <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Build/@machine.IPAddress">B</a>
                                <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Deploy/@machine.IPAddress">D</a>
                                <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Restart/@machine.IPAddress">R</a>
                                <a asp-controller="Home" class="btn btn-primary" asp-action="Command" asp-route-id="@Model.ActiveEnvirnment.Name/Log/@machine.IPAddress">L</a>

                            </div>
                        </div>
                    </div>

                }
            </div>

        }



    }
    else
    {
        <div class="alert alert-danger" role="alert">
            There are no machines
        </div>
    }

</div>


@if (Model.ActiveEnvirnment.IsClusterd)
{
    <div class="alert alert-primary" role="alert">
        This is clusterd Env
    </div>

}



@if (ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewBag.Message
    </div>
}


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">About Page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalbody" class="modal-body">
                <p> Lot of Content </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="grid"></div>
@section scripts{
    <script>

        function aboutclick(str) {

            var strUrl = '/API/About?envname=' + str ;
            jQuery.ajax({
                url: strUrl,
                success: function (html) {                   
                    
                    $("#modalbody").html(html);

                    $('#exampleModalLong').modal({ show: true });
                },
                async: false
            });           

        }


          function linkclick(str) {
           window.open(str); 
        }

    </script>
}

