﻿@model LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div onclick="putlog();">
        @DateTime.Now
    </div>
    <div class="m-5 pl-1 pt-2 pb-5 " >

        <form asp-action="Main" method="post" >
            <input class="align-middle" type="text" asp-for=Username id="Username" name="Username">
            <input class="align-middle" type="password" asp-for=Password id="Password" name="Password" />
            <button class="align-middle btn btn-primary" type="submit" >Login</button>
        </form>
    </div>
    <div >
        <img src="~/DevOps.png" />
    </div>

</div>


<script>

    function putlog() {
       
        var s= document.getElementById("Username");
        s.value = 'kipi'

        s= document.getElementById("Password");
        s.value = 'Temp@1234'
        


    }

</script>