﻿@model LoginViewModel

@{
    ViewData["Title"] = "Cynosure";
}


<div class="container-fluid">

    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a href="/Home/Main/AWS" class="btn btn-primary">Cloud</a>
            </div>
        </div>
    </div>

    @if (Model.GWEnvirnments.Count > 0)
    {

        @foreach (GWModule gWModule in @Model.GWModules)
        {
            <div class="card">

                <div class="card-header">
                    <h5><span class="label label-default"> @gWModule.Description</span></h5>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">

                        @foreach (var GWEnvirnment in Model.GWEnvirnments)
                        {
                            @if (GWEnvirnment.IsApp)
                            {
                                @if (GWEnvirnment.IsDev && GWEnvirnment.ModuleName == @gWModule.Name)
                                {
                                    <div class="row">
                                        <div class="col">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">

                                                    <a class="btn btn-secondary btn-sm active" asp-controller="Home" asp-route-id=@GWEnvirnment.Name
                                                       asp-action="Env">@GWEnvirnment.Name</a>

                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-sm-10">
                                                        <h6>Start Date :<span class="label label-default">@GWEnvirnment.Start</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>End Date : <span class="label label-default">@GWEnvirnment.End</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Build : <span class="label label-default">@GWEnvirnment.BuildDate</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Deployed : <span class="label label-default">@GWEnvirnment.DeployDate</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Clusterd: <span class="label label-info">@GWEnvirnment.IsClusterd</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Schedule: <span class="label label-default">@GWEnvirnment.Schedule</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Branch: <span class="label label-default">@GWEnvirnment.Branch</span></h6>
                                                    </div><div class="col-sm-10">

                                                        <h6>Dev Owner: <span class="label label-default">@GWEnvirnment.Owner1</span></h6>
                                                    </div><div class="col-sm-10">

                                                        <h6>QA Owner: <span class="label label-default">@GWEnvirnment.Owner2</span></h6>
                                                    </div><div class="col-sm-10">

                                                        <h6>Infra Owner: <span class="label label-default">@GWEnvirnment.Owner3</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">

                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    @{ var @QA = @Model.GetQAEnvirnment(@GWEnvirnment.Name);
                                                    }
                                                    <a class="btn btn-secondary btn-sm active" asp-controller="Home" asp-route-id=@QA.Name
                                                       asp-action="Env"> @QA.Name </a>

                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-sm-10">
                                                        <h6>Start Date :<span class="label label-default">@QA.Start</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>End Date : <span class="label label-default">@QA.End</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Build : <span class="label label-default">@QA.BuildDate</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Deployed : <span class="label label-default">@QA.DeployDate</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Clusterd: <span class="label label-info">@QA.IsClusterd</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Schedule: <span class="label label-default">@QA.Schedule</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Branch: <span class="label label-default">@QA.Branch</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Dev Owner: <span class="label label-default">@QA.Owner1</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>QA Owner: <span class="label label-default">@QA.Owner2</span></h6>
                                                    </div><div class="col-sm-10">
                                                        <h6>Infra Owner: <span class="label label-default">@QA.Owner3</span></h6>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                @if (GWEnvirnment.ModuleName == @gWModule.Name)
                                {<div class="row">
                                        <div class="col">
                                            <h3>@GWEnvirnment.Name</h3>
                                            <h3> Non APP </h3>
                                        </div>
                                    </div>
                                }
                            }
                        }


                        <footer class="blockquote-footer">@gWModule.DevOwner  <cite title="Source Title">@gWModule.QAOwner </cite></footer>
                    </blockquote>
                </div>
            </div>
            <br />
            <br />

        }

    }


</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>

